<section class="row">
  <h2>Reactive Form Exercice</h2>
  <form [formGroup]="formCv" class="col s12">
    <div class="input-field col s6">
      <input type="text" formControlName="nom" placeholder="Nom de famille...">

      <ng-container *ngIf="formCv.controls['nom'].errors && formCv.controls['nom'].touched">
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['nom'].errors?.['required']" class="helper-text">
          Ce champ est obligatoire
        </span>
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['nom'].errors?.['minlength']" class="helper-text">
          La longueur minimale doit être égale ou supérieure à {{formCv.controls['nom'].errors?.['minlength'].requiredLength}}
        </span>
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['nom'].errors?.['maxlength']" class="helper-text">
          La longueur minimale doit être égale ou inférieure à {{formCv.controls['nom'].errors?.['maxlength'].requiredLength}}
        </span>
      </ng-container>
    </div>
    <div class="input-field col s6">
      <input type="text" formControlName="prenom" placeholder="Prénom...">

      <ng-container *ngIf="formCv.controls['prenom'].errors && formCv.controls['prenom'].touched">
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['prenom'].errors?.['required']" class="helper-text">
          Ce champ est obligatoire
        </span>
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['prenom'].errors?.['minlength']" class="helper-text">
          La longueur minimale doit être égale ou supérieure à {{formCv.controls['prenom'].errors?.['minlength'].requiredLength}}
        </span>
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['prenom'].errors?.['maxlength']" class="helper-text">
          La longueur minimale doit être égale ou inférieure à {{formCv.controls['prenom'].errors?.['maxlength'].requiredLength}}
        </span>
      </ng-container>
    </div>
    <div class="input-field col s6">
      <input type="email" formControlName="email" placeholder="Email...">

      <ng-container *ngIf="formCv.controls['email'].errors && formCv.controls['email'].touched">
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['email'].errors?.['email']" class="helper-text">
          {{formCv.controls['email'].errors?.['email']}}
        </span>
      </ng-container>
    </div>
    <div class="input-field col s6">
      <input type="tel" formControlName="tel" placeholder="Numéro de téléphone...">

      <ng-container *ngIf="formCv.controls['tel'].errors && formCv.controls['tel'].touched">
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['tel'].errors?.['tel']" class="helper-text">
          {{formCv.controls['tel'].errors?.['tel']}}
        </span>
      </ng-container>
    </div>
    <div class="input-field col s6">
      <input type="text" formControlName="pseudo" placeholder="Pseudo...">

      <ng-container *ngIf="formCv.controls['pseudo'].errors && formCv.controls['pseudo'].touched">
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['pseudo'].errors?.['required']" class="helper-text">
          Ce champ est obligatoire
        </span>
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['pseudo'].errors?.['minlength']" class="helper-text">
          La longueur minimale doit être égale ou supérieure à {{formCv.controls['pseudo'].errors?.['minlength'].requiredLength}}
        </span>
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['pseudo'].errors?.['maxlength']" class="helper-text">
          La longueur minimale doit être égale ou inférieure à {{formCv.controls['pseudo'].errors?.['maxlength'].requiredLength}}
        </span>
      </ng-container>
    </div>
    <div class="input-field col s6">
      <input type="text" formControlName="titreFonction" placeholder="Titre de votre fonction...">

      <ng-container *ngIf="formCv.controls['titreFonction'].errors && formCv.controls['titreFonction'].touched">
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['titreFonction'].errors?.['required']" class="helper-text">
          Ce champ est obligatoire
        </span>
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['titreFonction'].errors?.['minlength']" class="helper-text">
          La longueur minimale doit être égale ou supérieure à {{formCv.controls['titreFonction'].errors?.['minlength'].requiredLength}}
        </span>
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['titreFonction'].errors?.['maxlength']" class="helper-text">
          La longueur minimale doit être égale ou inférieure à {{formCv.controls['titreFonction'].errors?.['maxlength'].requiredLength}}
        </span>
      </ng-container>
    </div>
    <div class="input-field col s6">
      <textarea formControlName="descFonction" placeholder="Description de votre fonction..."></textarea>

      <ng-container *ngIf="formCv.controls['descFonction'].errors && formCv.controls['descFonction'].touched">
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['descFonction'].errors?.['required']" class="helper-text">
          Ce champ est obligatoire
        </span>
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['descFonction'].errors?.['minlength']" class="helper-text">
          La longueur minimale doit être égale ou supérieure à {{formCv.controls['descFonction'].errors?.['minlength'].requiredLength}}
        </span>
        <span data-error="wrong" data-success="right" *ngIf="formCv.controls['descFonction'].errors?.['maxlength']" class="helper-text">
          La longueur minimale doit être égale ou inférieure à {{formCv.controls['descFonction'].errors?.['maxlength'].requiredLength}}
        </span>
      </ng-container>
    </div>

    <div formGroupName="adresse">
      <div class="input-field col s6">
        <input type="text" formControlName="rue" placeholder="Nom de votre rue...">

        <ng-container *ngIf="formCv.get('adresse.rue')?.errors && formCv.get('adresse.rue')?.touched">
          <span data-error="wrong" data-success="right" *ngIf="formCv.get('adresse.rue')?.errors?.['required']" class="helper-text">
            Ce champ est obligatoire
          </span>
          <span data-error="wrong" data-success="right" *ngIf="formCv.get('adresse.rue')?.errors?.['minlength']" class="helper-text">
            La longueur minimale doit être égale ou supérieure à {{formCv.get('adresse.rue')?.errors?.['minlength'].requiredLength}}
          </span>
          <span data-error="wrong" data-success="right" *ngIf="formCv.get('adresse.rue')?.errors?.['maxlength']" class="helper-text">
            La longueur minimale doit être égale ou inférieure à {{formCv.get('adresse.rue')?.errors?.['maxlength'].requiredLength}}
          </span>
        </ng-container>
      </div>
      <div class="input-field col s6">
        <input type="text" formControlName="num" placeholder="Numéro de votre habitation...">

        <ng-container *ngIf="formCv.get('adresse.num')?.errors && formCv.get('adresse.num')?.touched">
          <span data-error="wrong" data-success="right" *ngIf="formCv.get('adresse.num')?.errors?.['required']" class="helper-text">
            Ce champ est obligatoire
          </span>
          <span data-error="wrong" data-success="right" *ngIf="formCv.get('adresse.num')?.errors?.['maxlength']" class="helper-text">
            La longueur minimale doit être égale ou inférieure à {{formCv.get('adresse.num')?.errors?.['maxlength'].requiredLength}}
          </span>
        </ng-container>
      </div>
      <div class="input-field col s6">
        <input type="text" formControlName="ville" placeholder="Nom de votre ville...">

        <ng-container *ngIf="formCv.get('adresse.ville')?.errors && formCv.get('adresse.ville')?.touched">
          <span data-error="wrong" data-success="right" *ngIf="formCv.get('adresse.ville')?.errors?.['required']" class="helper-text">
            Ce champ est obligatoire
          </span>
          <span data-error="wrong" data-success="right" *ngIf="formCv.get('adresse.ville')?.errors?.['minlength']" class="helper-text">
            La longueur minimale doit être égale ou supérieure à {{formCv.get('adresse.ville')?.errors?.['minlength'].requiredLength}}
          </span>
          <span data-error="wrong" data-success="right" *ngIf="formCv.get('adresse.ville')?.errors?.['maxlength']" class="helper-text">
            La longueur minimale doit être égale ou inférieure à {{formCv.get('adresse.ville')?.errors?.['maxlength'].requiredLength}}
          </span>
        </ng-container>
      </div>
      <div class="input-field col s6">
        <input type="text" formControlName="cp" placeholder="Code postal...">

        <ng-container *ngIf="formCv.get('adresse.cp')?.errors && formCv.get('adresse.cp')?.touched">
          <span data-error="wrong" data-success="right" *ngIf="formCv.get('adresse.cp')?.errors?.['required']" class="helper-text">
            Ce champ est obligatoire
          </span>
          <span data-error="wrong" data-success="right" *ngIf="formCv.get('adresse.cp')?.errors?.['minlength']" class="helper-text">
            La longueur minimale doit être égale ou supérieure à {{formCv.get('adresse.cp')?.errors?.['minlength'].requiredLength}}
          </span>
          <span data-error="wrong" data-success="right" *ngIf="formCv.get('adresse.cp')?.errors?.['maxlength']" class="helper-text">
            La longueur minimale doit être égale ou inférieure à {{formCv.get('adresse.cp')?.errors?.['maxlength'].requiredLength}}
          </span>
        </ng-container>
      </div>
    </div>
    <button class="card-panel light-green accent-3" (click)="submitForm()" *ngIf="formCv.valid">
      Envoyer
    </button>
  </form>
</section>
